[Desktop Entry]
Name=Multi_Wallpaper
GenericName=Multiwallpaper
Comment=Multi monitor wallpaper changer
Exec=/bin/bash -c "/home/USERID/.multi_wall/wallpapers_wrapper.py"
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
